<html>

<head>
  <title>Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=201903212019">
  <style>
    table {
      table-layout: fixed;
      width: 100%;
    }

    table td {
      word-wrap: break-word;
      /* All browsers since IE 5.5+ */
      overflow-wrap: break-word;
      /* Renamed property in CSS3 draft spec */
    }
  </style>
  <script src="js/dashboard_scripts.js"> </script>
</head>

<body style="background-color: gainsboro">
  <div class="container">

    <p class="bd-notification is-primary">Welcome <%= name %></p>

  </div>

  <form action="/logout" method="GET">
    <div class="control is-offset-11">
      <button class="button is-primary is-pulled-right" type="submit" name="logout">Logout</button>
    </div>
  </form>
  <br>
  <hr>
  <div id="deleteResultSuccess" style="display: none" class="notification is-success is-4 column">
    <button class="delete" onclick=deleteThis(this)></button>
    Note successfully Deleted.
  </div>
  <div style="display: none" id="deleteResultFailure" class="notification is-danger is-4 column">
    <button class="delete" onclick=deleteThis(this)></button>
    Error in deleting note.
  </div>
  <%if (success == 288 || success == 555){ %>
  <div class="notification is-success is-4 column">
    <button class="delete"></button>
    <%if (success == 555){ %> Edited <% }%>Note successfully saved.
  </div><% } %>
  <%if (success == 299 || success == 556){ %>
  <div class="notification is-danger is-4 column">
    <button class="delete"></button>
    Error in saving<%if (success == 556){ %> Edited <% }%> Note.
  </div><% } %>
  <label class="label is-medium">Add note:</label>
  <form action="/saveNote" method="POST">
    <div class="field">
      <div class="control is-4 column">
        <input class="input is-rounded" type="text" name="noteTitle" required placeholder="Note Title" />
      </div>
    </div>

    <div class="field">
      <div class="control  is-4 column">
        <textarea class="textarea" name="noteBody" minlength="10" required placeholder="Note Body"></textarea>
      </div>
    </div>

    <div class="control is-4 column">
      <button class="button is-primary" type="submit" name="submit">Save Note</button>
    </div>
  </form>

  <hr>

  <button class=" button is-primary" onclick="fetchAllNotes(1)">View All Notes </button>
  <div id="notesArea"></div>
  <div id="pageNumLinks"></div>
  <hr>

  <div id="noteEditor"></div>
  <label class="label is-medium">Search your notes:</label>
  <input type="text" class="input is-rounded is-4 column" name="searchTerm" id="searchTerm" required />
  <button class="button is-primary is-4 column" onclick="searchNotes()">Go</button>
  <div id="searchRes"></div>
  <div id="pageLinksForSearch"></div>
</body>

</html>